.eachX{
    font-size: 60px;
    padding: 50px;
}

.table-bordered td.noBorderTop{
    border-top: 1px solid transparent;
}

.table-bordered td.noBorderBottom{
    border-bottom: 1px solid transparent;
}

.table-bordered td.noBorderLeft{
    border-left: 1px solid transparent;
}

.table-bordered td.noBorderRight{
    border-right: 1px solid transparent;
}

.eachCell p{
    font-size: 60px;
    min-width: 50px;
    min-height: 150px;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.eachCell:hover{
    background-color: lightblue; /* rojo brillante */
}

.table-bordered td{
    border: 2px solid black;
    border-color: rebeccapurple;
    cursor: pointer;
}

#player2{
    background-color: #ff4d4d; /* rojo brillante */
}

#player1{
    background-color: #4d79ff; /* azul brillante */
}

#boxPlayerTurn{
    background-color: #fffacd; /* amarillo claro más visible */
    color: black;
}

.text-player{
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-player{
    border: 2px black double;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

